<ion-header>
    <ion-navbar color="wf"  no-shadow>
        <button ion-button menuToggle>
            <img src="assets/img/m.svg" />
        </button>
        <ion-title><img src="assets/img/l2.svg" /></ion-title>
             <ion-buttons end>
            <button ion-button (click)="close()" class="btnadd">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="imgtaked">
        <img src="{{img}}" />
    </div>
    <ion-item>
        <ion-label color="wf" stacked>Titre de la photo</ion-label>
        <ion-input type="text" [(ngModel)]="title"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="wf" stacked>Activités</ion-label>
        <ion-select [(ngModel)]="activities" multiple="true" cancelText="Annuler" okText="Valider">
            <ion-option value="skitouring" selected="true">Ski,surf</ion-option>
            <ion-option value="snow_ice_mixed">Neige, glace et mixte</ion-option>
            <ion-option value="mountain_climbing">Rocher haute montagne</ion-option>
            <ion-option value="rock_climbing">Escalade</ion-option>
            <ion-option value="ice_climbing">Cascade de glace</ion-option>
            <ion-option value="hiking">Randonnée / Trail</ion-option>
            <ion-option value="snowshoeing">Raquette</ion-option>
            <ion-option value="paragliding">Parapente</ion-option>
            <ion-option value="mountain_biking">VTT</ion-option>
            <ion-option value="via_ferrata">Via ferrata</ion-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label color="wf" stacked>Catégories</ion-label>
        <ion-select [(ngModel)]="categories" multiple="true" cancelText="Annuler" okText="Valider">
            <ion-option value="landscapes">Paysages</ion-option>
            <ion-option value="detail">Détail</ion-option>
            <ion-option value="action">Action</ion-option>
            <ion-option value="track">Trace</ion-option>
            <ion-option value="rise">Montée</ion-option>
            <ion-option value="descent">Descente</ion-option>
            <ion-option value="topo">Schéma / tracé</ion-option>
            <ion-option value="people">Personnages</ion-option>
            <ion-option value="fauna">Faune</ion-option>
            <ion-option value="flora">Flore</ion-option>
            <ion-option value="nivology">Nivologie et avalanches</ion-option>
            <ion-option value="geology">Géologie</ion-option>
            <ion-option value="hut">Refuge/cabane</ion-option>
            <ion-option value="equipment">Equipement</ion-option>
            <ion-option value="book">Livre</ion-option>
            <ion-option value="help">Aide</ion-option>
            <ion-option value="misc">Divers</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label color="wf" stacked>Type</ion-label>
        <ion-select [(ngModel)]="type" cancelText="Annuler" okText="Valider">
            <ion-option value="collaborative">Collaboratif (CC by-sa)</ion-option>
            <ion-option value="personal">Personnel (CC by-nc-nd)</ion-option>

        </ion-select>
    </ion-item>
    
    <div class="ploader" *ngIf="loader"><ion-spinner></ion-spinner></div>
    <div class="boxsave" *ngIf="btsave">
        <div class="bt btsave" (click)="save()">Enregistrer</div>
    </div>
</ion-content>