page-copyright .content-md {
    background: #fff url(../assets/img/f/f.png) 0px 0px no-repeat;
    background-size: 100%;
}
page-copyright .text {
    padding: 10px;
    background: #fff;
}


page-copyright .content-container {
    background-color: #eeeeee;
    padding: 10px 0 1px 0;
}
page-copyright .wf {
     color: #387ef5;
}
page-copyright .gh {
    color: #FFAA45;
}
page-copyright .item-md-light, page-copyright .item-divider-md-light {
    background-color: #eeeeee;
}

page-copyright .logowf {
    margin: 10px 0;
    width: 75%;
}

page-copyright .center {
    text-align: center;
}