page-shop .content-md {
    background: #fff url(../assets/img/f/f.png) 0px 0px no-repeat;
    background-size: 100%;
}


.content-container {
    background-color: #eeeeee;
    padding: 10px 0 1px 0;
}

.item-md-light, .item-divider-md-light {
    background-color: #eeeeee;
}

page-shop .logoc2c , page-shop .logowf {
    max-height: 50px;
}
page-shop .logowf {
    margin-top: 10px;
}
page-shop .center {
    text-align: center;
}

page-shop ion-content .toolbar-title {
    margin-top: 40px;
    text-align: center;
}
page-shop .mt20 {
    margin-top: 20px;
}
page-shop .justify{
    text-align: justify;
    padding: 5px 0;
}
page-shop .boxtxt {
    padding: 10px;
}
page-shop a {
    text-decoration: none;
}