page-config .content-md {
    background: #fff url(../assets/img/f/f.png) 0px 0px no-repeat;
    background-size: 100%;
}


.content-container {
    background-color: #eeeeee;
    padding: 10px 0 1px 0;
}

.item-md-light, .item-divider-md-light {
    background-color: #eeeeee;
}