page-add-route ion-content ion-title {
    text-align: center;
    padding: 20px 0;
}
page-add-route .boxsave {
    width: 100%;
    padding: 20px;
}
page-add-route .btsave {
    width: 100%;

    background: rgba(169, 211, 97, 1);

    text-align: center;
    padding: 8px 0 6px 0;
    font-size: 27px;
}

page-add-route .label-md[stacked] {
    font-size: 18px;
}

page-add-route .item-block {
    margin-bottom: 10px;

}
page-add-route .btright { font-size: 20px;}
page-add-route .input-has-focus .label-md[stacked] {
    color: rgba(169, 211, 97, 1);
}

page-add-route .item-md {
    padding: 0 16px;
}

page-add-route .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: rgba(169, 211, 97, 1);
    box-shadow: inset 0  -1px  0 0 rgba(169, 211, 97, 1);
}

page-add-route .input-need-data .label-md[stacked] {
    color: #e1484f;
}

page-add-route .item-md.item-input.input-need-data .item-inner {
    border-bottom-color: #e1484f;
    box-shadow: inset 0  -1px  0 0 #e1484f;
}

page-add-route .item-md ion-avatar[item-left], page-add-route .item-md ion-thumbnail[item-left] {
    padding: 8px 16px 8px 0;
    font-size: 26px;
    margin: 0px;
    color: rgba(255, 170, 69, 0.95);
}

page-add-route .item-md ion-thumbnail {
    min-width: 20px;
    min-height: 20px;

}


page-add-route .remove.button-clear-md {
    color: #e1484f
}

page-add-route .remove.button-clear-md, page-add-route .add.button-clear-md {
    background:transparent;
}
page-add-route .ploader{
    padding: 20px 0;
    text-align: center;
}

page-add-route .card-header-md {
    padding: 10px;
    color: #fff;
}

page-add-route ion-card-header {
    background: #A9D361;
}
page-add-route .button-md.btmwp{
    background: transparent;
}
page-add-route .button-md.mainwp {
    background:#A9D361;
    color: #fff;
}
.titleoi {
    color: rgba(255, 170, 69, 0.95);
    font-size: 18px;
    padding: 0 16px;
    margin-top: 20px;
}
page-add-route .center {
    text-align: center;
    margin-bottom: 15px;
}
page-add-route .button-md, page-add-route .button-md.activated {
    box-shadow: none;
    background-color: rgba(255, 170, 69, 0.95);
}

page-add-route  .list-md .item-block .item-inner {
    border-bottom: none;
}
page-add-route  .list-md ion-item {
    border-bottom: 1px solid #dedede;

    margin: 0 16px 10px 16px;
    padding: 0px;
    width: calc(100% - 32px);
}

page-add-route .list-md ion-item  .label-md {  white-space: normal; }

page-add-route .toolbar-background-md {
    background: #A9D361;
}
page-add-route .segment-md .segment-button.segment-activated.noactivated {
    color: #fff;
    opacity: 1;
}
page-add-route .segment-md .segment-button.activated, page-add-route .segment-md .segment-button.segment-activated {
    border: 0px;
    color: #fff;
    opacity: 1;
}

page-add-route .segment-md .segment-button {
    border: 0px;
    opacity: 1;
    color: #fff;
}
