modal-filter {

    ion-select {
        max-width: 100%;
        width: 100%;
    } 

    .btsave {
        width: 100%;

        background: rgba(255,170,69,0.95);

        text-align: center;
        padding: 8px 0 6px 0;
        font-size: 27px;

    }

    .boxsave {
        width: 100%;
        padding: 20px;
        background-color: #eeeeee;
    }

    .btnadd {
        font-size: 2rem;
    }

    .item-md {
        padding-left: 0px;
    }

    .label-md {
        padding-left: 16px;
    }

}